<div class="footer">
  <div class="footer-copyright">
   <p>Projeto feito com <i class="fas fa-heart"></i> por Igor, Lídia, Thiago e Mateus!</p>
  </div>
  <div class="footer-photos">
    <%= image_tag "igor.jpg", class: "rounded-circle" %>
    <%= image_tag "lidia.jpg", class: "rounded-circle"%>
    <%= image_tag "thiago.jpg", class: "rounded-circle" %>
    <%= image_tag "mateus.jpg", class: "rounded-circle" %>
  </div>
</div>
