<div class="container col-sm-8 text-center">

  <h2>Estamos quase finalizando sua compra...</h2>

  <%= simple_form_for [@ticket, @order] do |f| %>
  <div class="form-inputs mt-4 col-md-6 offset-md-3">
    <%= f.input :credcard, label: 'Cartão de crédito' %>
      <div class="form-actions">
        <%= f.button :submit, 'Comprar!', class: 'btn-registrar' %>
      </div>
  </div>
  <% end %>
</div>
