.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.card-ticket {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.card-ticket > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-ticket h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-ticket p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-ticket .card-ticket-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
