.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
}
.footer-photos {
  display: flex;
  align-items: center;
  img {
  width: 30px;
  height: 40px;
  margin-right: 5px;
  }

}
.footer .fa-heart {
  color: #D23333;
}
