.navbar-cambista {
  justify-content: space-between;
  background: white;
  opacity: 0.7;
}

.navbar-cambista .navbar-collapse {
  flex-grow: 0;
}

.navbar-cambista .navbar-brand img {
  width: 40px;
}
