@media (max-width: 600px) {
  .card-product {
    flex-direction: column;
    height: auto;
    img {
      width: 100%;
      height: 250px;
    }
  }

  .cards {
    grid-template-columns: 1fr;

    .card-ticket-infos {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }


  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .footer-copyright {
    text-align: center;
    padding: 0 10px;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
    .banner {
    flex-direction: column;
    height: 200px !important;
  }

}

@media (max-width: 1000px) {

  .img-show {
    margin: 0;
    .banner-ticket {
      border-radius: 5px;
    }
  }
}
